#mainNav {
    padding-top: 5px;
    padding-bottom: 7px;
    -webkit-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    background-color: #fbfbfb;
}

#magic-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    background: #0a3369;
}

.navbar-toggler {
    padding: 13px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #ededed;
    color: #0a3369;
    border: 0;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.btn-mepm {
    color: #ededed;
    background-color: #0a3369;
    border-color: #000000;
}

.btn-mepm:hover {
    color: #a1a1a1;
}
header.masthead {
    text-align: center;
    color: #fff;
    background-color: #ededed;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 155px;
    padding-bottom: 155px;
}
header.secondaryhead {
    text-align: center;
    color: #fff;
    background-color: #ededed;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 6px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
    color: #0a3369;
}

a:hover {
    color: #0a3369;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-item {
    padding-right: 18px;
}

.nav-link {
    font-family: 'candara-bold', sans-serif;
    font-size: 20px;
    color: #343a40;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.20);
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {

  padding-top: 85px;
  margin-bottom: 60px;
}
.footer {
    background-color: #fbfbfb;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
